.one{
  background-image: url("img/back-img.png");
  background-size: cover;
  height:80vh;
  padding-top:50px;
}

h1{
  color:white;
  font-family: serif;
}


header{
  display: flex;
  justify-content: space-between;
}

.select ul{
  display: flex;
  font-size: 17px;
  margin-right: 60px;
  list-style: none;
  font-family: serif;
}

.select li{
  margin-right: 60px;
}

.select a{
  text-decoration: none;
  color: rgb(255,255,255,.8);
}


.select a:hover{
  color: rgb(255, 255, 255,.5);
}

.logo a{
  margin-left: 120px;
  color: rgb(255,255,255);
  text-decoration: none;
  font-family: serif;
}

.logo a:hover{
  color: rgb(255, 255, 255,.5);
}

main-header h1{
  text-align: center;
  margin-top: 15vh;
  font-size: 40px;
}

/*------------------------------two------------------------*/

.two{
  height:100vh;
  width: 120vh;
  margin: 0 auto;

}

.two h2{
  font-size: 50px;
  font-family: serif;
  padding-top:70px;
  padding-bottom: 70px;
  text-align: center;
}

.two span{
  border: 1px solid;
  padding:4px 7px;
  font-size: 10px;
  margin:0 20px;
}


.two p{
  border-bottom: 2px solid;
  padding-bottom: 25px;
  margin-bottom: 25px;
}

.two a{
  text-decoration: none;
  color:rgb(0,0,0);
}

.two a:hover{
  color: rgb(0, 0, 0,.5);
}



.three{
  height:130vh;
  width: 160vh;
  margin:0 auto;
  font-family: serif;
}

.three a{
  color:black;
}

.three img{
  height:250px;
  width:400px;
}

.three h1{
  color:black;
  text-align: center;
  font-size: 40px;
  margin-bottom: 80px;
}

.right-left{
  display: flex;
  justify-content: space-between;

}

.left h2{
  text-align: center;
  margin: 10px 0;
}

.ken{
  text-align: center;
  margin: 10px 0;
}

.right h2{
  text-align: center;
  margin: 10px 0;
}


.border{
  border-bottom:2px #000 solid;
  border-top:2px #000 solid;
  width:250px;
  margin: 0 auto;
  padding:10px 0;
  text-align: center;
}

.botton{
  width: 200px;
  text-align: center;
  margin: 80px auto;
  padding: 8px 0;
  border: 1px #000 solid;
  color:rgba(0, 0, 0, 0.5);
}

.three a:hover{
  color:rgb(0,0,0,.5);
}




.four{
  height:80vh;
  width:auto;
  display: flex;
}


.img1{
  height:100%;
  width:33.3%;
  position: relative;
}

.img1 img{
  width:100%;
  height:100%;
}

.img1 p{
  position: absolute;
  color: white;
  font-size:30px;
  display: inline-block;
  top: 50%;
  left:35%;
}

.img1 a:hover{
  filter: opacity(50%);
}


.img2 a:hover{
  filter: opacity(50%);
}

.img3 a:hover{
  filter: opacity(50%);
}


.img2{
  height:100%;
  width:33.3%;
  position: relative;
}

.img2 img{
  width:100%;
  height:100%;
}

.img2 p{
  position: absolute;
  color: white;
  font-size:30px;
  display: inline-block;
  top: 50%;
  left:35%;
}



.img3{
  height:100%;
  width:33.4%;
  position: relative;
}

.img3 img{
  width:100%;
  height:100%;
}

.img3 p{
  position: absolute;
  color: white;
  font-size:30px;
  display: inline-block;
  top: 50%;
  left:35%;
}





footer{
  height:25vh;
  width:100%;
  background-color: black;
  padding-top:40px;
  position: relative;
}

footer .flex{
  display: flex;
  justify-content: space-between;
}

footer .copy{
  color: white;
  position: absolute;
  bottom: 0;
  left:0;
  right:0;
  text-align: center;
}




@media(max-width:600px){

}
